@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');

header {
    padding-top: 10%;
    padding-bottom: 4%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: hsl(34, 57%, 70%, 0);
}

header>a>img {
    height: 200px;
    padding-left: 15%;
    padding-bottom: 2%;
}

header>img {
    height: auto;
    max-width: 100%;
}

.font-site-1 {
    background-image: url(../img/font-site.jpeg), url(../img/lord.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: top, bottom;
    background-size: contain, contain;
    font-family: Tahoma, sans-serif;
    background-color: black;
}

.font-site-2 {
    background-image: url(../img/font-site.jpeg);
    background-size: cover;
    background-attachment: fixed;
    font-family: Tahoma, sans-serif;
}

nav {
    background-color: rgb(159, 128, 87, 0.7);
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    border: solid 2px #796040;
    border-right: 10px double rgb(255, 228, 169, 0.8);
    border-left: 10px double rgb(255, 228, 169, 0.8);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 2%;
}

nav>img {
    height: 55px;
    margin-left: 7%;
}

nav>div>p>a {
    color: bisque;
    font-style: oblique;
    text-shadow: 0 0 1px white;
}

nav>div>p>a:hover {
    color: white;
    text-decoration: line-through;
    text-shadow: 0 0 30px white,
        0 0 20px white,
        0 0 10px white;
    transition: all 0.3s ease;
}

#nav-connexion {
    align-self: flex-end;
    border-left: solid 2px #796040;
    width: 180px;
    text-align: center;
    font-size: 18px;
}

nav>div>ul {
    display: inline-flex;
}

nav>div>ul>li {
    list-style-type: none;
    padding-left: 110px;
    padding-right: 110px;
}

nav>div>ul>li>a {
    font-size: 23px;
    text-decoration: none;
    color: bisque;
    text-shadow: 0 0 5px white;
}

nav>div>ul>li>a:hover {
    color: white;
    text-shadow: 0 0 30px white,
        0 0 20px white,
        0 0 10px white;
    transition: all 0.3s ease;
}

.active {
    text-decoration: line-through;
    text-decoration-thickness: 1px;
}

footer {
    background-color: rgb(159, 128, 87, 0.8);
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template: repeat(1fr*2), repeat(1fr*3);
    background-image: url(../img/epee-rouge1.png), url(../img/epee-rouge2.png);
    background-position: right, left;
    background-repeat: no-repeat, no-repeat;
    background-size: 90px, 90px;
    background-position: 10px, 1410px;
    text-align: center;
    text-shadow: 3px 3px 3px rgb(0, 0, 0, 0.4);
}

#flamme {
    height: 30px;
    margin-right: 2px;
}

#hautpage {
    color: rgb(88, 33, 33);
    font-size: 18px;
    grid-area: 1/ 2/ 1/ 2;
    padding-right: 15px;
    text-shadow: 1px 1px 3px rgb(0, 0, 0, 0.4)
}

#copy {
    grid-area: 2/ 2/ 2/ 2;
}

#theme {
    grid-area: 2/ 1/ 2/ 1;
    margin-left: 10px;
}

#elden {
    grid-area: 1/ 1/ 1/ 1;
}

#nom-auteur {
    grid-area: 2/ 3/ 2/ 3;
}

/*Fin header, nav, footer*/

aside {
    min-width: 400px;
    border-left: 5px ridge rgb(159, 128, 87, 0.6);
    border-bottom: 5px ridge rgb(159, 128, 87, 0.6);
    background-image:
        url(../img/Actu/anneaugif.gif),
        url(../img/Actu/logovert.png),
        url(../img/Actu/logovert.png),
        url(../img/Actu/farum-azula.png),
        url(../img/Actu/farum-azula.png),
        url(../img/Actu/farum-azula.png);
    background-position:
        center top 25px,
        center top 350px,
        center top 650px,
        center bottom,
        left bottom,
        right bottom;
    background-repeat: no-repeat;
    background-size: 90px auto;
}

aside>h2 {
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    color: rgb(107, 143, 112);
    font-size: 35px;
    text-shadow:
        -1px -1px 0 rgb(212, 189, 160),
        1px -1px 0 rgb(212, 189, 160),
        -1px 1px 0 rgb(212, 189, 160),
        1px 1px 0 rgb(212, 189, 160);
    margin-bottom: 100px;
    margin-top: 50px;
    text-decoration: none;
}

aside img {
    width: 200px;
    border: 2px ridge black;
    margin-left: 10px;
    margin-right: 10px;
}

aside a {
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;
    text-align: left;
    color: black;
    text-decoration: none;
    border: rgb(133, 99, 55) 2px solid;
    border-radius: 80%;
}

.texte-actualite:hover {
    text-shadow: -1px -1px 10px rgb(212, 189, 160),
        1px -1px 5px rgb(212, 189, 160),
        -1px 1px 0 rgb(212, 189, 160),
        1px 1px 0 rgb(212, 189, 160);
    transition: all 0.3s ease;
}

aside img:hover {
    border: 2px ridge rgb(212, 189, 160);
    transition: border 0.3s;
}

.texte-actualite {
    margin-top: 10px;
    margin-right: 10px;
}

/*Fin Aside*/

.page {
    border: 10px double rgb(159, 128, 87);
    margin-left: 10%;
    margin-right: 10%;
    background: rgba(222, 184, 135, 0.7);
}

#page-index {
    border: 10px double rgb(159, 128, 87);
    margin-left: 10%;
    margin-right: 10%;
    background: linear-gradient(rgba(222, 184, 135, 0.4),
            rgba(222, 184, 135, 0.8),
            rgba(222, 184, 135, 0.6),
            rgba(222, 184, 135, 0.2),
            rgba(222, 184, 135, 0.1));
}

#division-index {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

h1 {
    text-align: center;
    font-family: "Cinzel Decorative", serif;
    color: white;
    text-shadow: 0 0 5px rgb(141, 72, 3),
        0 0 10px rgb(151, 110, 8);
}

main>article>h2 {
    font-family: "Bebas Neue", Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    text-decoration: underline;
    text-shadow: 2px 2px 8px rgba(255, 221, 0, 0.3),
        5px 5px 5px rgb(255, 255, 255, 0.1);
    margin-top: 5%;
}

#titre-presentation {
    margin-left: 18%;
}

article {
    margin-left: 2%;
    margin-right: 2%;
    line-height: 1.5;
}

#presentation {
    display: inline-flex;
    background-image: url(../img/plume.png);
    background-position:
        right 200px bottom;
    background-repeat: no-repeat;
    background-size: 70px auto;
}

iframe {
    min-width: 560px;
    margin-right: 3%;
    border: groove rgba(255, 221, 0, 0.3);
}

.principal {
    color: rgba(255, 221, 0, 1);
    text-shadow: 0 0 5px white,
        0 0 8px white;
}

#titre-systeme {
    margin-left: 65%;
    margin-bottom: 10px;
}

#systeme-jeu {
    display: flex;
    align-items: flex-start;
    gap: 3%;
}

#img-gameplay {
    margin-top: 3%;
    min-width: 400px;
    min-height: 280px;
    flex-shrink: 0;
    border: groove rgba(255, 221, 0, 0.3);
}

#classes-classement {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

#kill {
    width: 300px;
    margin-left: 20%;
}

/*Liste classes jouables*/

#liste {
    font-family: "Tagesschrift", system-ui;
    margin-top: -7%;
    margin-right: -28%;
}

#liste>h2 {
    text-decoration: underline;
    text-shadow: 1px 1px 10px rgb(100, 28, 28);
}

#liste-classes {
    list-style-image: url('../img/epee.png');
}

.liste-texte {
    position: relative;
    top: -12px;
    font-size: 18px;
}

/* Tableau classement */

caption {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 1%;
}

table,
td,
th {
    background-color: rgba(222, 184, 135, 0.4);
    border: solid 1px;
    font-family: "Winky Rough", sans-serif;
    text-align: center;
}

#difficulte1 {
    background-color: rgb(255, 0, 0);
}

#difficulte2 {
    background-color: rgb(255, 72, 0);
}

#difficulte3 {
    background-color: rgb(255, 115, 0);
}

#difficulte4 {
    background-color: rgb(255, 191, 0);
}

#difficulte5 {
    background-color: rgb(255, 247, 0);
}

#difficulte6 {
    background-color: rgb(208, 255, 0);
}

#difficulte7 {
    background-color: rgb(179, 255, 0);
}

#difficulte8 {
    background-color: rgb(157, 255, 0);
}

#difficulte9 {
    background-color: rgb(106, 255, 0);
}

#difficulte10 {
    background-color: rgb(68, 255, 0, 0.6);
}

/*Page - Se connecter*/

#image-construction {
    width: 1200px;
    margin-inline: 10% auto;
    margin-top: 30px;
    border: groove #796040 10px;
    margin-bottom: 5%;
    filter: sepia(20%);
}

#texte-construction {
    text-align: center;
    margin-top: 5%;
    font-size: 40px;
    font-family: "Bilbo Swash Caps", Georgia, Times, 'Times New Roman', serif;
    text-shadow: 5px 5px 3px rgb(0, 0, 0, 0.5);
}

/*Galerie Photo*/

#galerie-titre {
    margin-bottom: 5%;
}

#galerie {
    display: flex;
    flex-flow: wrap;
    gap: 30px;
    margin-left: 30px;
}

#galerie>div>img {
    max-width: 700px;
    border: #796040 ridge 5px;
}

#galerie>div>p {
    text-align: center;
    font-family: "Tagesschrift", system-ui;
    color: white;
    text-shadow: 0 0 5px rgb(141, 72, 3),
        0 0 10px rgb(151, 110, 8);
}

#galerie>div>p>span {
    border: 1px solid rgb(255, 255, 255, 0.1);
    padding-inline: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(255, 228, 196, 0.5);
    border-radius: 3px;
}

/*Commentaires*/

#page-com {
    position: relative;
    overflow: hidden;
    border: 10px double rgb(159, 128, 87);
    margin-left: 10%;
    margin-right: 10%;
    background: rgba(222, 184, 135, 0.7);
}

#img-repos {
    position: absolute;
    z-index: 0;
    margin-left: 15%;
    margin-top: 5px;
    border-radius: 5%;
    box-shadow: bisque 0 0 10px,
        bisque 0 0 20px,
        bisque 0 0 30px,
        bisque 0 0 40px;
    width: 1075px;
}

form {
    position: relative;
    z-index: 1;
    margin-top: 25px;
    margin-left: 15%;
    display: flex;
    flex-direction: row;
    color: white;
    text-shadow: black 0 0 5px;
    background: linear-gradient(rgba(222, 184, 135, 0.8),
            rgba(222, 184, 135, 0.1),
            rgba(222, 184, 135, 0));
    width: 1075px;
    border-radius: 5%;
}

#formulaire1 {
    font-family: system-ui;
}

fieldset {
    border: none;
    margin-bottom: 25%;
}

fieldset>div {
    margin-bottom: 10%;
    margin-top: 5%;
}

label {
    display: inline-block;
    width: 150px;
    margin-block: 8px;
    font-size: 18px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
select {
    height: 20px;
    width: 200px;
    box-shadow: 0 0 5px #ffffff;
}

#formulaire2 {
    display: grid;
    grid-template: repeat(1fr*2), repeat(1fr*2);
}

#jeux-favoris {
    grid-area: 1 / 1 / 1 / 1;
    margin-right: 20px;
    margin-top: 15px;
    font-family: "Metamorphous", serif;
    font-size: 13px;
}

#jeux-favoris>ul {
    list-style: none;
    padding-left: 5px;
    columns: 2;
    font-family: "Tagesschrift", system-ui;
}

input[type="checkbox"] {
    box-shadow: 0 0 5px #ffffff;
}

input[type="checkbox"]:checked {
    accent-color: rgb(38, 41, 98);
}

#que-pensez-vous {
    grid-area: 1 / 2 / 1 / 2;
    font-family: "Metamorphous", serif;
    font-size: 13px;
}

#que-pensez-vous>div {
    font-family: "Tagesschrift", system-ui;
}

input[type="radio"] {
    margin-left: 70px;
    box-shadow: 0 0 5px #ffffff;
}

input[type="radio"]:checked {
    accent-color: rgb(38, 41, 98);
}

#comm {
    grid-area: 2 / 1 / 2 / 1;
    font-family: "Cinzel Decorative", serif;
}

textarea {
    width: 300px;
    box-shadow: 0 0 5px #ffffff;
}

input[type="submit"] {
    margin-right: 15%;
    height: 50px;
    margin-top: 5%;
    font-family: "Metamorphous", serif;
    font-weight: bold;
}

#bouton {
    grid-area: 2 / 2 / 2 / 2;
    align-self: center;
    box-shadow: 0 0 5px white;
    border-radius: 50%;
    background-color: bisque;
    color: black;
}

#bouton:hover {
    box-shadow: 0 0 20px rgb(255, 255, 255),
        0 0 10px rgb(255, 255, 255),
        0 0 5px rgb(255, 255, 255);
    transition: all 0.3s ease;
}